.Grow {
    flex-grow: 1;
}

.DrawerFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
}

.ScrollableMenu {
    height: 100%;
    overflow: auto;
}

.DrawerWidth {
    width: 65px;
}

.PL7 {
    padding-left: 7px;
}

.ActiveColor {
    color: '#a0a0a0';
}

.DrawerPaper {
    top: 0;
    flex: 1 0 auto;
    height: 100%;
    display: flex;
    z-index: 1000;
    outline: none;
    position: fixed;
    overflow-y: auto;
    flex-direction: column;
    background-color: #fcfcfc;
    margin-top: 64px;
    overflow-x: hidden;
    transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    width: 65px;
    white-space: nowrap;
    transition-delay: 0.5;
}

.DrawerPaper:hover {
    width: 260px;
}

.DrawerBackDrop {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0;
    position: fixed;
    touch-action: none;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-tap-highlight-color: transparent;
    will-change: opacity;
    transition: opacity 195ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.DrawerPaper:hover+.DrawerBackDrop {
    opacity: 1;
    z-index: 999;
}

.DrawerContainer {
    width: 100%;
    max-width: 360;
}

.DrawerTitle {
    font-size: 0.9rem;
    line-height: 1.35rem;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgba(0, 0, 0, 0.87);
}

.DrawerItem:hover {
    font-weight: 500;
}

.DrawerIcon {
    margin-right: 16px !important;
    min-width: 24px !important;
}

.DrawerItem:hover .DrawerIcon {
    color: #000;
}

.selected {
    background-color: rgba(38,50,56,0.1) !important;
}

.selected .DrawerIcon {
    color: #263238 !important;
}

.selected .DrawerTitle {
    color: #263238 !important;
    font-weight: 500 !important;
}

.iconSelected {
    color: #263238 !important;
}

.ActiveDrawerTitle {
    text-decoration: none;
    color: #263238;
}

.DrawerItem {
    padding-left: 18px !important;
    padding-right: 18px !important;
}